<div class="homepage-container">
  <div class="navbar">
    <h1>MySocial</h1>
    <p>{{ name }}</p>
    <button (click)="logout()">Logout</button>
  </div>

  <div class="content">
    <div class="sidebar">
      <ul>
        <li (click)="homeBtn()">Home</li>
        <li (click)="Post()">Create Post</li>
        <li (click)="friendsBtn()">Friends</li>
        <li (click)="allUsersBtn()">All Users</li>
        <li (click)="suggestFriendsBtn()">suggested-friends</li>
      </ul>
    </div>

    <div *ngIf="postdiv" class="feed">
      <div *ngFor="let post of this.posts" class="post">
        <h3>{{ post.user_name }}</h3>
        <p>{{ post.content }}</p>
      </div>
    </div>

    <div *ngIf="createPosts" class="feed">
      <mat-form-field class="post-text">
        <mat-label>Post Content</mat-label>
        <textarea matInput [(ngModel)]="postContent"></textarea>
      </mat-form-field>
      <button class="post-btn" (click)="createPost()">Post</button>
    </div>

    <div *ngIf="displayFriends" class="feed">
      <div class="friend">
        <h3>Friends</h3>
        <div *ngFor="let friend of this.friends" class="friend-card">
          <h4>{{ friend.name }}</h4>
          <button (click)="removeFriend(friend.id)">Remove Friend</button>
        </div>
      </div>
    </div>

    <div *ngIf="this.allUsersDiv" class="feed">
      <div class="friend">
        <h3>All Users</h3>
        <div *ngFor="let user of this.allUsers; let i = 'index'" class="friend-card">
          <h4>{{ user.name }}</h4>
          <a (click)="seeMutuals(user.id)">{{
            user.mutualCount + " mutual friends"
          }}</a>
          <button *ngIf="!isFriend(user.id)" (click)="addFriend(user.id)">
            Add Friend
          </button>
          <button *ngIf="isFriend(user.id)" (click)="removeFriend(user.id)">
            Remove Friend
          </button>
        </div>
      </div>

      <div *ngIf="this.mutualFriendsDiv" class="feed">
        <h3>Mutual Friends of {{ selectedUserName }}</h3>
        <div *ngFor="let friend of this.mutualFriends" class="friend-card">
          <h4>{{ friend.name }}</h4>
          <button *ngIf="!isFriend(friend.id)" (click)="addFriend(friend.id)">
            Add Friend
          </button>
          <button *ngIf="isFriend(friend.id)" (click)="removeFriend(friend.id)">
            Remove Friend
          </button>
        </div>

        <div *ngIf="this.suggested" class="feed">
        <h3>Suggested Friends</h3>
        <div *ngFor="let friend of this.suggestedFriends" class="friend-card">
          <h4>{{ friend.name }}</h4>
          <button *ngIf="!isFriend(friend.id)" (click)="addFriend(friend.id)">
            Add Friend
          </button>
          <button *ngIf="isFriend(friend.id)" (click)="removeFriend(friend.id)">
            Remove Friend
          </button>
        </div>
        <div class="right-sidebar"></div>
      </div>
    </div>
  </div>
</div>
